.header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/banner.jpg') fixed;
  background-position-x: center;
  background-size: cover;
}

.headerText {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.headerText h1 {
  font-size: 3rem;
}

.headerText h3 {
  font-size: 1.5rem;
}
